@import '../variables.scss';
#App {
  height: 100% !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  #nprogress {
    z-index: 99999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .bar {
      background-color: $primaryColor;
      height: 5px;
    }
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.primaryColor {
  color :$primaryColor;
}

.text-lg {
  font-size-adjust: 1.7rem;
}
.text-md {
  font-size: 1.3rem;
}

.italic {
  font-style: italic;
}

  img {
    width:100%;
    height: 100%;
  }

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 667px) {

  .text-md {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 1.5rem;
  }

}
#particles{
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;

  .parti {
    color: red !important;
  }
  #tsparticles{
    height: 100% !important;
  }
}

button{
  color: white !important;
  font-size: 1.1rem !important;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;

}

.secondary {
  color: grey;
}

#Dchart {
  width: 100% !important;
}


@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1rem;
  }
}

